<h1>Welcome! Please sign up to FitnessBuddy</h1>

<form id="signup" name="signup" method="POST" action="/users/signup">
    <div>
        <label for="name">First Name: </label>
        <input type="text" name="FirstName" required>
    </div>
    <div>
        <label for="name">Last Name: </label>
        <input type="text" name="LastName" required>
    </div>
    <div>
        <label for="name">Email: </label>
        <input type="text" name="Email" required>
    </div>
    <div>
        <label for="name">Username: </label>
        <input type="text" name="Username" required>
    </div>
    <div>
        <label for="name">Password: </label>
        <input type="text" name="Password" required>
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>