<h1>Hi there! <br> Please sign up to FitnessBuddy</h1>

<form id="signup" name="signup" method="POST" action="/users/register">
    <div>
        <label for="name">First Name: </label>
        <input type="text" name="FirstName" required>
    </div>
    <div>
        <label for="name">Last Name: </label>
        <input type="text" name="LastName" required>
    </div>
    <div>
        <select name="gender" required>
            <option value="None selected">Please select below</option>
            <option value="Female">Female</option>
            <option value="Male">Male</option>
            <option value="Other">Other</option>
        </select>
    </div>
    <div>
        <label for="age">Age: </label>
        <input type="number" name="Age" required>
    </div>
    <div>
        <label for="name">Email: </label>
        <input type="text" name="Email" required>
    </div>
    <div>
        <label for="name">Username: </label>
        <input type="text" name="Username" required>
    </div>
    <div>
        <label for="name">Password: </label>
        <input type="text" name="Password" required>
    </div>
    <div>
        <button type="submit">Register</button>
    </div>
</form>